body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html {
  height: 100%; /* fallback for IE and older browsers */
  height: 100vh;
}

body {
  height: auto; /* required to allow content to expand vertically without overflow */
  width: auto;
  min-height: 100%; /* fallback for IE and older browsers */
  min-height: 100vh;
  margin: 0;
  padding: 0;
}